version: 2
jobs:
  build:
    docker:
      - image: circleci/node:latest-browsers
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Run browser
          command: node main.js
          no_output_timeout: 1m

workflows:
  version: 2
  commit:
    jobs:
      - build
  cron:
    triggers:
      - schedule:
          cron: "5,15,25,35,45,55 6-22 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build
